/* Estilos para los nodos */
@import "node_modules/bootstrap/scss/bootstrap";
.node {
	border: 2px solid #333;
	display: flex;
	width: auto;
	height: auto;
	text-align: center;
	line-height: 50px;
	background-color: #fff;
	position: relative;
	margin-bottom: 20px;
	display: inline-block;
}

/* Estilos para los conectores */

.node:not(:last-child) .connector {
	height: 50%;
}

@function randomColor() {
	@return rgb(random(255), random(255), random(255));
}

@for $i from 0 to 1000 {
	.node-level-#{$i} {
		&::before{
			content:'#{$i}';
			color: randomColor();
		}
	}
}